#date: 2025-05-27T17:06:43Z
#url: https://api.github.com/gists/0afd544d45f81738adddce93b3691752
#owner: https://api.github.com/users/Zbank999

#!/bin/sh
#
# An example hook script to prepare a packed repository for use over
# dumb transports.
#
# To enable this hook, rename this file to "post-update".

exec git update-server-info
